<article class="pageClass">
	<h2>Visitor Notes</h2>
	{{#textarea placeholder="create a new note" id="newEntry" cols="50" rows="10" }}{{/textarea}}

	<p class="btnVolunteerParagraph">
		<button {{action "newNote"}} class="btn btn-info">Save this note</button>
	</p>
	{{#each itemController="note"}}
		<div class="singleEntry">
			{{#if isEditing}}
				<p><strong>EDIT THIS NOTE...</strong></p>
				{{input value=copy id="copy" class="form-control"}}
				<p class="btnVoluteerParagraph">
					<button {{action "saveNewNote"}} class="btn btn-info">Save this note</button>
				</p>
				
			{{else}}
				{{copy}}
				<hr>
				<p class="btnVoluteerParagraph">
					<button {{action "editNote"}} class="btn btn-info">Edit this note</button>
					<button {{action "deleteNote"}} class="btn btn-info">Delete this note</button>
				</p>
			{{/if}}
		</div>
	{{/each}}
</article>